body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: grey;
}

form {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

form label, form input, form button {
    background-color: white;
    border: none;
    padding: 5px;
    margin: 5px;
}

form button {
    background-color: #4CAF50; 
    color: black;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.dropdown-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -80px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}