<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="signout-button">
            <script src="{{ url_for('static', filename='js/signOutAlert.js') }}"></script>
            <a href="/users/signout" class="btn" onclick="signOutAlert(event)">Sign Out</a>
        </div>
        <h1>
            Weekly Tracker
        </h1>
        <form method="post" action="/home/">
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="new_weight">Enter data:</label>
            <input type="number" id="new_weight" name="new_weight" step="0.1" required>
            <button type="submit_new">Submit</button>
        </form>
        <form method="post" action="/home/">
            <label for="date_del">Select Date to delete:</label>
            <input type="date" id="date_del" name="date_del" required>
            <button type="submit_del">Delete</button>
            <div class="tooltip">?
                <span class="tooltiptext">only works if the date is later than today</span>
            </div>
        </form>
        <script src="{{ url_for('static', filename='js/togglePlotOptions.js') }}"></script>  
        <form method="post" action="/home/">
            <div class="container">
                <div class="dropdown-container">
                    <label for="data-select">Select plot data:</label>
                    <select name="data-select" id="data" onchange="togglePlotOptions(); this.form.submit();">
                        <option value="weekly_averages" {% if selected_data == 'weekly_averages' %}selected{% endif %}>Averages</option>
                        <option value="last_seven" {% if selected_data == 'last_seven' %}selected{% endif %}>Last Seven</option>
                        <option value="all_weights" {% if selected_data == 'all_weights' %}selected{% endif %}>All</option>
                    </select>
                    <div class="tooltip">?
                        <span class="tooltiptext">determine what is plotted</span>
                    </div>
                </div>
            </div>
        </form>
        
        <form method="post" action="/home/">
            <div class="container">
                <div class="dropdown-container">
                    <label for="data-select">Select dates:</label>
                    <div id="plot-options">
                        <label for="plot-from" >from</label>
                        <select name="plot-from" id="plot-from">
                            {% if selected_data == 'weekly_averages' %}
                                {% for key, items in dict_data.items() %}
                                    <option value="{{ items[1] }}" {% if key == start_key %}selected{% endif %}>{{ items[1] }}</option>
                                {% endfor %}
                            {% elif selected_data == 'all_weights' %}
                                {% for key, _ in dict_data.items() %}
                                    <option value="{{ key }}" {% if key == start_key %}selected{% endif %}>{{ key }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
        
                        <label for="plot-to">to</label>
                        <select name="plot-to" id="plot-to">
                            {% if selected_data == 'weekly_averages' %}
                                {% for key, items in dict_data.items() %}
                                    <option value="{{ items[1] }}" {% if key == end_key %}selected{% endif %}>{{ items[1] }}</option>
                                {% endfor %}
                            {% elif selected_data == 'all_weights' %}
                                {% for key, _ in dict_data.items() %}
                                    <option value="{{ key }}" {% if key == end_key %}selected{% endif %}>{{ key }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <button type="submit_new">Submit</button>
                    </div>
                    <div class="tooltip">?
                        <span class="tooltiptext">determine the timeline</span>
                    </div>
                </div>
            </div>
        </form>
        
        
        <div>
            <canvas id="myChart"></canvas>
        </div>

        <div>
            <h2>Entries</h2>
            <table class="table-data">
                <div class="tooltip">?
                    <span class="tooltiptext">index is used as a reference for enteies</span>
                </div>
                <thead>
                    <tr>
                        <th>index</th>
                        <th>date</th>
                        <th>entry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in dict_data.items() %}
                        <tr>
                            <td>{{ value[1] }}</td>
                            <td>{{ key }}</td>
                            <td>{{ value[0] }} kg</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/dup_check.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/alert_check.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gap.js') }}"></script>
        <script>
            dup_check("{{ duplicate }}");
            alert_check("{{ alert_ }}")
            gap("{{ gap }}")
            const dictData = JSON.parse('{{ dict_data | tojson | safe }}');
            const chartTitle = "{{ chart_title }}";
            const start_key = "{{ start_key }}"
            const end_key = "{{ end_key }}"
            plot(dictData, chartTitle, start_key, end_key);
        </script>

    </body>
</html>
