<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weekly Weight Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Weekly Weight Tracker</h1>
    <form method="post" action="/">
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="new_weight">Enter weight:</label>
        <input type="number" id="new_weight" name="new_weight" step="0.1" required>
        <button type="submit">Submit</button>
    </form>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Plot">
    <p>
        {% for key, value in dict_data.items() %}
            {{ key }} = {{ value[1], value[0] }}<br>
        {% endfor %}
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const duplicate = "{{ duplicate }}";
            if (duplicate === 'true') {
                alert("wight for selected date already exists");
            }
        });
    </script>
</body>
</html> 
