<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>weight tracker</title>
        <link rel="stylesheet" href="/static/css/login_styles.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
    </head>
    <body>
        <div class="card-wrapper">
            <div class="card">
                <h1 class="center">create an account</h1>
                <form name="signup_form">
                    <label for="username"> username </label>
                    <input type="text" name="username" class="field" required></input>

                    <label for="email"> email </label>
                    <input type="text" name="email" class="field" required></input>

                    <label for="password"> password </label>
                    <input type="password" name="password" class="field" required></input>

                    <label for="confirm"> confirm password </label>
                    <input type="password" name="confirm" class="field" required></input>
                    
                    <p class="error error--hidden"></p>

                    <input type="submit" value="sign up" class="btn"></input>
                </form>
                <div>
                    <p>Already have an account? <a href="/login">login</a></p>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/scripts.js"></script>
    </body>
</html>